<br />
<br />
<div class="container">
  <div class="row booyah-box">
   <% @guest.each do |guest| %>
      <div class = "col-sm-12 col-md-6 col-lg-3 text-center no-underline">
        <i><%= link_to guest.first_name, guest_path(guest) %></i>
        <i><%= link_to guest.last_name, guest_path(guest) %></i>
      </div>
    <% end %>
  </div>
</div>
  