
<div class="container">
  <div class="booyah-box col-10 offset-1 text-center">


    <span class="name"><%= @guest.first_name %></span>
    <span class="name"><%= @guest.last_name %></span>
    <br />
    <br />

    <%= link_to "Edit", edit_guest_path(@guest), class: 'btn-sm' %>

    <%= link_to 'Delete', guest_path(@guest), method: :delete, data: {confirm: 'Are you sure you want to delete this?'},class: 'btn-sm' %>



</div>

